.card {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 1rem 1rem;
}

@media (min-width: 768px) {
  .card {
    width: 100%;
  }
}

.card_title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}